<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sound With Gestures: Stage</title>
  <meta name="author" content="Dror Ayalon">
  <link type="text/css" rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
</head>

<body>

  <div class="instrContainer">

    <div id="instr01" class="instr">
      <div class="buttons">
        <input id="button01" type="button" value="play instrument 1">
        <input id="button02" type="button" value="stop instrument 1">
      </div>
    </div>

    <div id="instr02" class="instr">
      <div class="buttons">
        <input id="button03" type="button" value="play instrument 2">
        <input id="button04" type="button" value="stop instrument 2">
      </div>
    </div>

    <div id="instr03" class="instr">
      <div class="buttons">
        <input id="button05" type="button" value="play instrument 3">
        <input id="button06" type="button" value="stop instrument 3">
      </div>
    </div>

  </div>

  <script src="scripts/jquery-3.1.1.min.js"></script>
  <script src="scripts/Tone.min.js"></script>
  <script src="scripts/socket.io.min.js"></script>
  <script src="scripts/sound.js"></script>
  <!-- <script src="scripts/script.js"></script> -->

</body>
</html>
