<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sound With Gestures: Instrument</title>
  <meta name="author" content="Dror Ayalon">
  <link type="text/css" rel="stylesheet" href="css/styles_mobile.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="https://afeld.github.io/emoji-css/emoji/mushroom.png">
</head>

<body>
  this is mobile

  <script src="scripts/jquery-3.1.1.min.js"></script>
  <script src="scripts/Tone.min.js"></script>
  <script src="scripts/socket.io.min.js"></script>
  <script src="scripts/p5.min.js"></script>
  <script src="scripts/script_mobile.js"></script>

</body>
</html>
