<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sound With Gestures: Instrument</title>
  <meta name="author" content="Dror Ayalon">
  <meta name="viewport" content="width=device-width">
  <link type="text/css" rel="stylesheet" href="css/styles_mobile.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="https://afeld.github.io/emoji-css/emoji/mushroom.png">
</head>

<body class="na">
  <div class='unavailable'>
    no instrument is available...<br>
    <span style="font-size: 4em;">💩</span>
    <br>
    <br>
    <br>
    <a href="/">try again</a>
  </div>

  <script src="scripts/jquery-3.1.1.min.js"></script>
  <script src="scripts/Tone.min.js"></script>
  <script src="scripts/socket.io.min.js"></script>
  <script src="scripts/script_mobile.js"></script>

</body>
</html>
