<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sound With Gestures: Instrument</title>
  <meta name="author" content="Dror Ayalon">
  <meta name="viewport" content="width=device-width">
  <link type="text/css" rel="stylesheet" href="css/styles_mobile.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="https://afeld.github.io/emoji-css/emoji/mushroom.png">
</head>

<body class="one">
  <div style="font-size:2em;">🔊</div>
  <div class="slider">
    <input type="range" id="volume" value="1" type ="range" min ="0" max="1" step ="0.1" orient="vertical">
  </div>
  <div style="font-size:2em;">🔇</div>
  <div>move you device to change the sound</div>
  <br>
  <div class="id">instrument 1</div>

  <script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="scripts/Tone.min.js"></script>
  <script type="text/javascript" src="scripts/socket.io.min.js"></script>
  <script type="text/javascript" src="scripts/NoSleep.min.js"></script>
  <script type="text/javascript" src="scripts/script_mobile.js"></script>

</body>
</html>
