html{
}

body {
  font-family: 'Courier New', monospace;
  margin-top: 60px;
  color: rgba(34,34,34,0.8);
  text-align: center;
}

input{
  -webkit-transform: rotate(-90deg);
  /*-webkit-appearance: none;*/
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 180px;
	height: 100%;
	/*border-radius: 10px;*/
	cursor: pointer;
}
.slider {
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  /*cursor: pointer;*/
  /*width: 100%;*/
  height: 100px;
}

.one {
  background-color: Aquamarine;
}

.two {
  background-color: Beige;
}

.three {
  background-color: Cyan;
}

.na {
  background-color: GhostWhite;
  text-align: center;
}

.wait{
  background-color: LightCoral;
  text-align: center;
}
