html{
background-color: Azure;
}

body {
  color: #222;
}

input {
  background-color: ALICEBLUE;
  font-family: monospace;
  border: 0.5px solid LIGHTGREY;
  padding: 1em;
  font-size: 0.9em;
  color: #222;
}

input:active {
  background-color: LIGHTGREY;
  border: 0.5px solid LIGHTGREY;
}

input:focus {
  outline:0;
}

.buttons {
  margin-top: 90vh;
}

.instrContainer {
  /*padding-top: 60px;*/
  text-align: center;
}


.instr {
  height: 100vh;
  width: 30vw;
  display: inline-block;
}

#instr01 {
  background-color: Azure;
}

#instr02 {
  background-color: Azure;
}

#instr03 {
  background-color: Azure;
}
